	<div id="welcome">
		<div id="playerInput">
			<h2>Welcome to</h2>
			<h1>Tiq Taq Toe</h1>
			<br />
			<p>enter your name(s) to start</p>
		    <input type="text" placeholder="player one" ng-model="playerOne.name">
		    <br />
		    <input type="text" placeholder="player two" ng-model="playerTwo.name">
		    <br />
		    <button ng-click="clearWelcome()">start!</button>
		</div>
	</div>
<header><h1 class="font-effect-anaglyph">Tic Tac Toe</h1></header>


<nav><h2>{{activePlayer + "'s Turn"}}</h2></nav>
<div class="boardContainer" ng-init="newTic()">
    <div ng-cloak class="row clearfix" ng-repeat="row in ticTacToe track by $index" id="row_{{$index}}">
        <div ng-repeat="cell in row track by $index" ng-class="{cell:true}" ng-click="clickSquare2(cell)" id="{{'c' + $parent.$index + '_' + $index}}"> 
        	<img ng-src='resources/images/{{cell.img}}' />
        </div>
    </div>
</div>

<div class="winNotif clearfix" ng-class="{winDiv:win}">
	<span id="notif">{{activePlayer}} Wins!</span>
	<div class="playAgain" ng-click="clickReset()" my-Turn="activePlayer=='evan'">Play Again</div>
</div>

<div class="winNotif clearfix" ng-class="{winDiv:tie}">
	<span id="notif">Wah-wah..... <br />It's a tie!</span>
	<div class="playAgain" ng-click="clickReset()">Play Again</div>
</div>


<div id="reset" ng-click="clickReset()">New Game</div>
