	<div id="welcome">
		<div id="playerInput">
			<h2>Welcome to</h2>
			<h1>Tiq Taq Toe</h1>
			<br />
			<p>enter your name(s) to start</p>
		    <input type="text" placeholder="player one" ng-model="playerOne">
		    <br />
		    <input type="text" placeholder="player two" ng-model="playerTwo">
		    <br />
		    <button ng-click="clearWelcome()">start!</button>
		</div>
	</div>
<header><h1 class="font-effect-anaglyph">Tic Tac Toe</h1></header>


<nav><h2>{{activePlayer + "'s Turn"}}</h2></nav>
<div class="boardContainer">
    <div ng-cloak class="row clearfix" ng-repeat="row in ticTacToe track by $index" id="row_{{$index}}">
        <div ng-repeat="cell in ticTacToe track by $index" ng-class="{cell:true}" ng-click="clickSquare($parent.$index, $index)" id="{{'c' + $parent.$index + '_' + $index}}">

        	.
        </div>
    </div>
</div>

<div id="winNotif" class="clearfix">
	<span id="notif">{{activePlayer}} Wins!</span>
	<div class="playAgain" ng-click="clickReset()">Play Again</div>
</div>


<div id="reset" ng-click="clickReset()">New Game</div>
